@use '../abstract/mixins' as mix;

.mainWrapper {
  width: 100vw;
  height: 100vh;
  background-color: #101010;
}

.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 40vh);
  gap: 2rem;
  padding: 2rem;
}
