@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin responsive($breakpoint) {
  @if $breakpoint ==mobile {
    @media (max-width: $bp-mobile) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media (max-width: $bp-tablet) {
      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media (max-width: $bp-desktop) {
      @content;
    }
  }
}
