$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

// Light Mode Palette 
$warm-brown: #CB997E;
$rose-beige: #EDDCD2;
$cream: #FFF1E6;
$off-white: #F0EFEB;
$soft-tan: #DDBEA9;

$sage-green: #A5A58D;
$dusty-olive: #B7B7A4;
